.button {
  &--slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid var(--icons-border-primary-color);
    color: var(--icons-primary-color);
    cursor: pointer;
    background-color: var(--icons-background-primary-color);
    transition: 0.3s ease;

    &:hover {
      border: 1px solid var(--primary-color);
      color: var(--icons-hover-color);
      background-color: var(--icons-background-hover-color);
      transition: 0.3s ease;
    }

    &-disabled {
      background-color: var(--icons-background-disabled-color);
      border: 1px solid var(--icons-border-disabled-color);
      color: var(--icons-disabled-color);
      cursor: not-allowed;
      pointer-events: none;
      transition: 0.3s ease;
    }
  }
}
