@use '../../styles/utils/mixins.scss' as *;

.catalog-page {
  &__breadcrumb {
    margin-top: 24px;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 40px;
    }
  }

  &__error,
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: var(--main-text-color-secondary);
    margin-top: 8px;
    margin-bottom: 32px;
    transition: ease 0.3s;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 40px;
    }
  }

  &__top-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__control-label {
    font-size: 12px;
    line-height: 100%;
    color: var(--secondary-color);
    font-weight: 600;
    padding-bottom: 4px;
  }

  &__pagination {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 64px;

    @include on-tablet {
      margin-top: 40px;
      margin-bottom: 64px;
    }

    @include on-desktop {
      margin-top: 40px;
      margin-bottom: 80px;
    }

    &-numbers {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
    }
  }

  &__not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px 0;

    &-message {
      font-size: 16px;
      color: var(--secondary-color);
      text-align: center;
    }
  }
}

.catalog-page:not(:has(.catalog-page__pagination)) {
  .product-list {
    margin-bottom: 64px;

    @include on-tablet {
      margin-bottom: 64px;
    }

    @include on-desktop {
      margin-bottom: 80px;
    }
  }
}
