@use '../../../../styles/utils/mixins.scss' as *;

.lang-switcher {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-weight: 400;
  color: var(--secondary-color);
  border-left: 1px solid var(--elements-color);

  @include on-tablet {
    display: flex;
  }

  &--mobile {
    display: flex;
    padding: 0;
  }
}

.lang-option {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 11px;
  color: var(--secondary-color);
  background-color: var(--white-color);
  padding: 4px;
  cursor: pointer;

  &--active {
    color: var(--primary-color);
    transition: color 0.3s;
    font-weight: 800;
    text-decoration: underline;
  }
}
