@use '../../../../styles/utils/mixins.scss' as *;

.lang-switcher {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-weight: 400;
  color: var(--main-text-color-secondary);
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);

  @include on-tablet {
    display: flex;
  }

  &--mobile {
    display: flex;
    padding: 0;
  }

  @include on-tablet {
    width: 48px;
    height: 48px;
    padding: 2px;
  }

  @include on-desktop {
    width: 64px;
    height: 64px;
    padding: 4px;
  }
}

.lang-option {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 11px;
  color: var(--secondary-color);
  background-color: transparent;
  padding: 4px;
  cursor: pointer;

  &--active {
    color: var(--main-text-color-primary);
    transition: color 0.3s;
    font-weight: 800;
    text-decoration: underline;
  }

  @include on-tablet {
    font-size: 10px;
  }

  @include on-desktop {
    font-size: 11px;
  }
}
