@use '../../../../styles/utils/mixins.scss' as *;
@use '../../../../styles/typography.scss' as *;

.burger-menu {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  height: calc(100vh - 48px);
  background-color: var(--white-color);
  z-index: 1500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include on-tablet {
    display: none;
  }

  &__nav {
    margin-top: 48px;
  }

  &__lang {
    margin-top: 24px;
  }

  &__icons {
    margin-top: auto;
    justify-content: center;
    width: 100%;
    border-top: 1px solid var(--elements-color);
    border-bottom: 1px solid var(--elements-color);
  }
}
