.product-slider {
  padding-block: 32px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__controls {
    display: flex;
    gap: 12px;
  }

  &__slide {
    min-height: 486px;
    display: flex;
    flex-direction: column;
  }
}

.swiper-button-disabled {
  border: 1px solid var(--elements-color);
  color: var(--elements-color);
  pointer-events: none;
}
