@use '../../styles/utils/mixins.scss' as *;
@use '../../styles/typography.scss' as *;

.hero {
  padding-top: clamp(1.5rem, 2.857vw + 0.929rem, 3.5rem);
  padding-bottom: clamp(3.5rem, 2.143vw + 3.071rem, 5rem);

  &__title {
    @extend .typography--h1;
    margin-bottom: clamp(1.5rem, 2.857vw + 0.929rem, 3.5rem);
    color: var(--main-text-color-primary);
    transition: ease 0.3s;
  }

  &__slider {
    --columns: 4;

    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(var(--columns), 1fr);

    @include on-tablet {
      --columns: 12;
    }

    @include on-desktop {
      --columns: 24;
    }
  }

  &__arrow {
    display: none;
    width: 32px;
    background-color: var(--icons-background-primary-color);
    border: 1px solid var(--icons-border-primary-color);
    color: var(--main-text-color-primary);
    transition: 0.3s ease;

    &:hover {
      background-color: var(--icons-background-hover-color);
      border: 1px solid var(--icons-border-hover-color);
    }
    @include on-tablet {
      &--prev {
        justify-self: end;
      }
    }
  }

  &__sliderContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }
  }

  &__swiper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  &__slide {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__banner {
    width: 100%;
    height: auto;
    display: block;

    &--tablet,
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 8px;
  }

  &__bullet {
    width: 14px;
    height: 4px;
    background-color: var(--main-text-color-secondary);
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s;

    &.swiper-pagination-bullet-active {
      background-color: var(--main-text-color-primary);
    }
  }

  @include on-tablet {
    &__arrow {
      display: block;
    }
  }
}
