@use '../../../styles/utils/variables.scss' as *;

.button {
  &--color {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    cursor: pointer;
    background-color: var(--main-background-color);
    transition: 0.3s ease;

    &:hover:not(&-selected) {
      border: 1px solid var(--main-text-color-secondary);
    }

    &-selected {
      border: 1px solid var(--main-text-color-primary);
    }
  }

  &__color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--main-background-color);
    box-sizing: border-box;
    transition: ease 0.3s;

    $colors: (
      'black': $black,
      'white': $white,
      'silver': $silver,
      'gold': $gold,
      'rosegold': $rosegold,
      'yellow': $yellow,
      'red': $red,
      'purple': $purple,
      'green': $green,
      'coral': $coral,
      'midnightgreen': $midnightgreen,
      'graphite': $graphite,
      'sierrablue': $sierrablue,
      'blue': $blue,
      'pink': $pink,
      'starlight': $starlight,
      'midnight': $midnight,
      'skyblue': $skyblue,
      'spacegray': $spacegray,
      'spaceblack': $spaceblack,
    );

    @each $name, $color in $colors {
      &.#{$name} {
        background-color: $color;
      }
    }
  }
}
