.card {
  width: 100%;
  padding: 32px;
  border: 1px solid var(--card-border-color);
  background-color: var(--surface-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  gap: 8px;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 16px 0px #0000001a;
  }

  &__image {
    width: 100%;
    max-width: 208px;
    margin: 0 auto;
    height: 196px;
    object-fit: contain;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-text-color-primary);
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: auto;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: var(--main-text-color-primary);

    &--old {
      text-decoration: line-through;
      color: var(--main-text-color-secondary);
    }
  }

  &__specs {
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-top: 1px solid var(--border-color);
    padding-top: 8px;
    transition: ease 0.3s;
  }

  &__spec {
    display: flex;
    gap: 12px;
    justify-content: space-between;

    font-weight: 700;
    font-size: 12px;

    &-label {
      color: var(--main-text-color-secondary);
    }

    &-value {
      color: var(--main-text-color-primary);
    }
  }

  &__actions {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
