@use '../../../styles/utils/mixins.scss' as *;

.breadcrumbs {
  display: flex;
  gap: 8px;

  &__link-to-home {
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    color: var(--primary-color);

    text-decoration: none;

    &:hover {
      color: var(--secondary-color);
    }
  }

  &--product {
    padding-bottom: 24px;

    @include on-tablet {
      padding-bottom: 40px;
    }
  }

  &__separator {
    color: var(--secondary-color);
  }

  &__item {
    display: flex;
    gap: 8px;
  }

  &__link,
  &__current {
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
  }

  &__link {
    color: var(--primary-color);
    transition: color 0.3s;

    &:hover {
      color: var(--secondary-color);
    }

    &--active {
      color: var(--secondary-color);
      cursor: default;
    }
  }

  &__current {
    color: var(--secondary-color);
    cursor: default;
  }
}
