@use '../../styles/typography.scss' as *;
@use '../../styles/utils/mixins.scss' as *;

.signup-offer {
  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 50;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    z-index: 100;
    max-width: 90%;
    width: 360px;
    text-align: center;
    outline: none;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    padding: 4px;
    outline: none;
    cursor: pointer;
  }

  &__title {
    @extend .typography--h3;
    color: var(--primary-color);
    cursor: default;
  }

  &__desc {
    @extend .typography--body;
    color: var(--secondary-color);
    cursor: default;
  }

  &__login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 12px 24px;
    @extend .typography--buttons;
    font-family: inherit;
    color: var(--white-color);
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    cursor: pointer;
    transition: transform 0.2s;
    outline: none;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__no-thanks {
    color: var(--primary-color);
    @extend .typography--body;
    text-decoration: underline;
    background-color: var(--white-color);
    cursor: pointer;
    outline: none;

    &:hover {
      text-decoration: none;
    }
  }
}
