@use '../../styles/utils/mixins.scss' as *;
@use '../../styles/typography.scss' as *;

.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--elements-color);
  position: sticky;
  top: 0;
  z-index: 1000;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;

    @include on-desktop {
      height: 64px;
    }
  }

  .header__left {
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }

    @include on-desktop {
      padding: 0 24px;
      gap: 48px;
    }

    .logo {
      width: 64px;
      height: auto;

      @include on-desktop {
        width: 80px;
      }
    }
  }

  .header__nav {
    display: none;

    @include on-tablet {
      display: flex;
      flex: 1;
      justify-content: center;
    }
  }

  &__right {
    display: none;

    @include on-tablet {
      display: flex;
      gap: 16px;
    }
  }

  .burger {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--primary-color) svg {
      width: 24px;
      height: 24px;
    }

    @include on-tablet {
      display: none;
    }
  }
}
