@import '../../../styles/utils/mixins.scss';

.button {
  &--primary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-family: 'Mont', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s ease;

    &:hover:not(&-selected) {
      box-shadow: 0 3px 13px #17203166;
      transition: 0.3s ease;
    }

    &-selected {
      background-color: var(--white-color);
      color: var(--green-color);
      transition: 0.3s ease;
      border: 1px solid var(--elements-color);
      box-shadow: none;
    }
  }

  &--home {
    min-width: 100px;
    height: 40px;

    @include on-tablet {
      min-width: 125px;
    }

    @include on-desktop {
      min-width: 160px;
    }
  }

  &--catalog {
    min-width: 176px;
    height: 40px;

    @include on-tablet {
      min-width: 176px;
    }

    @include on-desktop {
      min-width: 160px;
    }
  }

  &--product {
    min-width: 231px;
    height: 48px;

    @include on-tablet {
      min-width: 180px;
    }

    @include on-desktop {
      min-width: 263px;
    }
  }

  &--cart {
    min-width: 240px;
    height: 48px;

    @include on-tablet {
      min-width: 544px;
    }

    @include on-desktop {
      min-width: 320px;
    }
  }

  &--favourites {
    min-width: 176px;
    height: 40px;

    @include on-tablet {
      min-width: 176px;
    }

    @include on-desktop {
      min-width: 160px;
    }
  }
}
