@use '../../../styles/utils/mixins.scss' as *;

.button {
  &--primary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: var(--white-color);
    font-family: 'Mont', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    background-color: var(--buttons-background-color);
    cursor: pointer;
    transition: 0.3s ease;

    &:hover:not(&-selected) {
      box-shadow: 0 3px 13px var(--buttons-shadow-color-hover);
      background-color: var(--buttons-background-color-hover);
      transition: 0.3s ease;
    }

    &-selected {
      background-color: var(--buttons-background-color-active);
      color: var(--buttons-text-color-active);
      transition: 0.3s ease;
      border: 1px solid var(--card-border-color);
      box-shadow: none;

      &:hover {
        box-shadow: 0 3px 13px var(--buttons-shadow-color-hover);
        background-color: var(--icons-background-hover-color);
        border: 1px solid var(--icons-background-hover-color);
        transition: 0.3s ease;
      }
    }
  }

  &--home {
    min-width: 100px;
    height: 40px;

    @include on-tablet {
      min-width: 125px;
    }

    @include on-desktop {
      min-width: 160px;
    }
  }

  &--catalog {
    min-width: 175px;
    height: 40px;

    @include on-tablet {
      min-width: 118px;
    }

    @include on-desktop {
      min-width: 160px;
    }
  }

  &--product {
    min-width: 231px;
    height: 48px;

    @include on-tablet {
      min-width: 180px;
    }

    @include on-desktop {
      min-width: 263px;
    }
  }

  &--cart {
    min-width: 240px;
    height: 48px;

    @include on-tablet {
      min-width: 544px;
    }

    @include on-desktop {
      min-width: 320px;
    }
  }

  &--favourites-page {
    min-width: 176px;
    height: 40px;

    @include on-tablet {
      min-width: 118px;
    }

    @include on-desktop {
      min-width: 160px;
    }
  }

  &--reload {
    width: 100%;
    max-width: 288px;
    height: 40px;

    @include on-tablet {
      height: 48px;
    }
  }

  &--empty {
    width: 100%;
    max-width: 288px;
    height: 40px;

    @include on-tablet {
      height: 48px;
    }
  }
}
