.button {
  &--favourites {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--icons-border-primary-color);
    color: var(--icons-primary-color);
    cursor: pointer;
    background-color: var(--icons-background-primary-color);
    transition: 0.3s ease;

    &:hover {
      border: 1px solid var(--icons-border-hover-color);
      color: var(--icons-hover-color);
      background-color: var(--icons-background-hover-color);
      transition: 0.3s ease;
    }

    &-selected {
      background-color: var(--icons-background-disable-color);
      border: 1px solid var(--icons-border-disabled-color);
      transition: 0.3s ease;
    }

    &--product {
      width: 48px;
      height: 48px;
    }
  }
}
