@use '../../styles/utils/mixins.scss' as *;
@use '../../styles/typography.scss' as *;

.footer {
  background-color: var(--main-background-color);
  border-top: 1px solid var(--border-color);
  font-size: 14px;
  color: var(--main-text-color-secondary);
  padding: 32px 0px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    width: 89px;
    height: auto;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
      gap: 100px;
    }
  }

  &__link {
    color: inherit;

    &:hover {
      color: var(--main-text-color-primary);
    }
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition:
      color 0.2s ease,
      background-color 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
    font-family: inherit;

    &:hover {
      color: var(--main-text-color-primary);
    }
  }

  &__back-btn {
    box-sizing: border-box;
    display: flex;
    width: 32px;
    height: 32px;
    border: 1px solid var(--icons-border-primary-color);
    align-items: center;
    justify-content: center;
    background-color: var(--icons-background-primary-color);
    transition: ease 0.3s;

    svg {
      color: var(--icons-primary-color);
    }
  }

  &__back:hover &__back-btn {
    border: 1px solid var(--icons-border-hover-color);
    background-color: var(--icons-background-hover-color);
    transition: ease 0.3s;

    svg {
      color: var(--icons-hover-color);
    }
  }
}
