@use '../../../styles/utils/mixins.scss' as *;
@use '../../../styles/utils/fonts.scss' as *;

.backButton {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: var(--main-text-color-primary);
  font-family: inherit;
  cursor: pointer;

  &__text {
    margin-left: 4px;
    height: 16px;
    font-size: 12px;
    font-weight: 700;
    color: var(--main-text-color-secondary);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--main-text-color-primary);
    }
  }
}
