@use '../../../styles/utils/mixins.scss' as *;
@use '../../../styles/typography.scss' as *;
@use './MainInfo.scss' as *;
@use './DetailsInfo.scss' as *;

.product-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 24px;

  @include on-desktop {
    min-height: calc(100vh - 164px);
  }

  &__title {
    margin-top: 16px;
    margin-bottom: 32px;
    color: var(--main-text-color-primary);
    transition: ease 0.3s;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }
}
