@import './styles/utils/normalize';
@import './styles/utils/font';
@import './styles/utils/variables';
@import './styles/utils/mixins';

.theme {
  // from figma
  $primary-color: #313237;
  $secondary-color: #889395;
  $icons-color: #b4bdc3;
  $elements-color: #e2e6e9;
  $hover-background-color: #e2e6e9;
  $white-color: #ffffff;
  $green-color: #eb5757;
  $red-color: #27ae60;

  // for using
  --main-background-color: $white-color;
  --title-color: $primary-color;

  &--dark {
    $secondary-color: #75767f;
    $icons-color: #4a4d58;
    $elements-color: #3b3e4a;
    $surface2-color: #323542;
    $surface1-color: #161827;
    $black-color: #0f1121;
    $white-color: #f1f2f9;
    $purple-accent-color: #905bff;
    $purple-hover-color: #a378ff;
    $green-color: #27ae60;
    $red-color: #eb5757;

    --main-background-color: $black-color;
    --title-color: $white-color;
  }
}
