@use './styles/utils/normalize' as *;
@use './styles/utils/fonts' as *;
@use './styles/utils/variables' as *;
@use './styles/utils/mixins' as *;
@use './styles/typography' as *;
@use './styles/utils/toasts' as *;

:root {
  --primary-color: #313237;
  --secondary-color: #889395;
  --icons-color: #b4bdc3;
  --elements-color: #e2e6e9;
  --hover-background-color: #e2e6e9;
  --white-color: #ffffff;
  --green-color: #27ae60;
  --red-color: #eb5757;

  --main-background-color: var(--white-color);
  --buttons-background-color: var(--primary-color);
  --buttons-background-color-hover: var(--primary-color);
  --buttons-shadow-color-hover: #17203166;
  --buttons-background-color-active: var(--white-color);
  --buttons-text-color: var(--white-color);
  --buttons-text-color-active: var(--green-color);
  --main-text-color-primary: var(--primary-color);
  --main-text-color-secondary: var(--secondary-color);
  --surface-color: var(--white-color);
  --card-border-color: var(--elements-color);
  --border-color: var(--elements-color);

  --icons-primary-color: var(--icons-color);
  --icons-hover-color: var(--primary-color);
  --icons-disabled-color: var(--elements-color);
  --icons-background-primary-color: var(--white-color);
  --icons-background-hover-color: var(--white-color);
  --icons-background-disabled-color: var(--white-color);
  --icons-border-primary-color: var(--icons-color);
  --icons-border-hover-color: var(--primary-color);
  --icons-border-disabled-color: var(--elements-color);

  --navigation-primary-color: var(--secondary-color);
  --navigation-background-primary-color: var(--white-color);
  --navigation-border-color: var(--elements-color);

  font-family: 'Mont', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--main-background-color);
  color: var(--main-text-color-primary);
  transition:
    background-color 0.3s,
    color 0.3s;
}

[data-theme='dark'] {
  --primary-color: #f1f2f9;
  --secondary-color: #75767f;
  --icons-color: #4a4d58;
  --elements-color: #3b3e4a;
  --surface2-color: #323542;
  --surface1-color: #161827;
  --black-color: #0f1121;
  --white-color: #f1f2f9;
  --purple-accent-color: #905bff;
  --purple-hover-color: #a378ff;
  --green-color: #27ae60;
  --red-color: #eb5757;

  --main-background-color: var(--black-color);
  --buttons-background-color: var(--purple-accent-color);
  --buttons-background-color-hover: var(--purple-hover-color);
  --buttons-shadow-color-hover: #17203166;
  --buttons-background-color-active: var(--surface2-color);
  --buttons-text-color: var(--primary-color);
  --buttons-text-color-active: var(--primary-color);
  --main-text-color-primary: var(--primary-color);
  --main-text-color-secondary: var(--secondary-color);
  --surface-color: var(--surface1-color);
  --card-border-color: var(--surface1-color);
  --border-color: var(--surface2-color);

  --icons-primary-color: var(--primary-color);
  --icons-hover-color: var(--primary-color);
  --icons-disabled-color: var(--icons-color);
  --icons-background-primary-color: var(--surface2-color);
  --icons-background-hover-color: var(--icons-color);
  --icons-background-disabled-color: var(--black-color);
  --icons-border-primary-color: var(--surface2-color);
  --icons-border-hover-color: var(--icons-color);
  --icons-border-disabled-color: var(--elements-color);

  --navigation-primary-color: var(--primary-color);
  --navigation-background-primary-color: var(--surface1-color);
  --navigation-border-color: var(--surface1-color);
}
