@use '../../styles/utils/mixins.scss' as *;
@use '../../styles/typography.scss' as *;

.rights {
  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding-top: 24px;

    @include on-tablet {
      padding-top: 40px;
    }
  }

  &__title {
    padding: 32px 0;
    color: var(--primary-color);
    @extend .typography;
    @extend .typography--h1;

    @include on-tablet {
      padding: 16px 0;
    }
  }

  &__section {
    margin-bottom: 16px;
  }

  &__section-title {
    margin-bottom: 16px;
    color: var(--primary-color);
  }

  &__text {
    margin-bottom: 16px;
    color: var(--secondary-color);
  }
}
