@use '../../styles/utils/mixins.scss' as *;
@use '../../styles/typography.scss' as *;

.rights {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 24px;

    @include on-tablet {
      padding-top: 40px;
    }
  }

  &__title {
    padding: 32px 0;
    color: var(--main-text-color-primary);
    @extend .typography;
    @extend .typography--h1;
    transition: ease 0.3s;

    @include on-tablet {
      padding: 16px 0;
    }
  }

  &__section {
    margin-bottom: 16px;
  }

  &__section-title {
    margin-bottom: 16px;
    color: var(--main-text-color-primary);
    transition: ease 0.3s;
  }

  &__text {
    margin-bottom: 16px;
    color: var(--main-text-color-secondary);
    transition: ease 0.3s;
  }
}
